.comments-section {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;

  h3 {
    color: #30204d;
    margin-bottom: 15px;
  }

  .comment {
    background-color: #f0f0f0;
    color: #2e011b;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;

    &:last-child {
      border-bottom: none;
    }

    strong {
      color: #b1adb8;
    }

    span {
      color: #888;
      font-size: 0.9em;
    }
  }

  textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1em;

    &:focus {
      border-color: #30204d;
      outline: none;
    }
  }

  button {
    background-color: #25183d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
margin: 10px;
    &:hover {
      background-color: #412772;
    }
  }

  p {
    color: red;
  }
}

//user
.usercomments-section {
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #30204d;
  }

  .usercomments-list {
    list-style-type: none;
    padding: 0;
  }

  .usercomments-item {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;

    transition: background-color 0.3s ease;
    color: #333;

    &:hover {
      background-color: #e8e0f4;
    }

    .usercomments-author {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
      color: #30204d;
    }

    p {
      font-size: 16px;
      color: #555;
      margin: 5px 0;
    }

    .usercomments-content {
      font-size: 13px;
      color: #444;
      margin-top: 5px;
    }
  }
}
