$primary-color: #30204d;
$background-color: white;
$error-color: red;

.recommendations {
  background-color: $background-color;
  color: $primary-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 1200px; 
  margin: 0 auto; 

  &__title {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center; 
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }
    &__link {
      .recommendations__link {
        text-decoration: none;
        color: inherit; 
      }
      
    }
  }

  &__item-cover {
    width: 300px; // Adjusted size
    height: auto; // Maintain aspect ratio
    border-radius: 10px;
    margin-right: 15px; // Spacing between cover and description
  }

  &__item-title {
    font-size: 1.4em;
    color: $primary-color;
    margin-bottom: 5px; // Added margin for spacing
    text-align: left; // Align title to the left
  }

  &__item-description {
    font-size: 1.1em; // Increased font size
    margin: 10px 0;
    flex: 1; // Allow description to take remaining space
  }

  &__item-tags {
    color: $primary-color;
  }

  .error {
    color: $error-color;
    text-align: center;
    font-weight: bold;
  }

  .no-recommendations {
    text-align: center;
    color: $primary-color;
    font-weight: bold;
  }
}
