$user-color: #30204d;
$background-color: white;

.user-profile {
  background-color: $background-color;
  color: $user-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 600px;

  &__title {
    color: $user-color;
    font-size: 28px;
  }

  &__loading {
    color: $user-color;
  }

  &__avatar {
    border-radius: 50%;
    width: 130px;
    height: 130px;
  }

  &__info {
    margin: 10px 0;
    font-size: 24px;
  }

  &__liked-movies {
    font-size: 20px;
    margin-top: 20px;
  }

  &__movie-list {
    list-style-type: none;
    padding: 0;
  }

  &__movie-item {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
    color: $user-color;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #e8e0f4; 
    }
  }

  .error {
    color: red;
  }
}
